@import "../../../themes/v1/scss/common";

.nav {
	height: 100%;

	&__list {
		margin: 0;
		padding: 0 em(16);
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 100%;
	}

	&__item {
		margin: 0 em(8);
	}

	&__link {
		color: deepskyblue;
	}
}
